  body {
    min-height: 100vh;
    font-family: arial;
    background-position: center;
    background-repeat: no-repeat;
  
    #result {
      list-style-type: none;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "answ1"
        "answ2"
        "answ3"
        "answ4";
      .answer-1 {
        grid-area: answ1;
        background: #eee;
        padding: 20px;
        margin: 10px;
        span {
          background: #88b865;
          padding: 10px;
          color: #fff;
        }
      }
      .answer-2 {
        grid-area: answ2;
        background: #eee;
        padding: 20px;
        margin: 10px;
        .answer-2-results {
          background: #88b865;
          padding: 10px;
          color: #fff;
        }
      }
      .answer-2-incorrect {
        grid-area: check;
        background: #d46565;
        color: #fff;
        padding: 10px;
        margin: 10px;
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
      }
      .answer-2-correct {
        grid-area: check;
        background: #469dcf;
        color: #fff;
        padding: 10px;
        margin: 10px;
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
      }
      .answer-3 {
        grid-area: answ3;
        background: #eee;
        padding: 20px;
        margin: 10px;
        .result-incorrect {
          background: #d46565;
          color: #fff;
          padding: 10px;
          margin: 10px;
          width: 70%;
          margin: 0 auto;
        }
        .result-correct {
          background: #469dcf;
          color: #fff;
          padding: 10px;
          margin: 10px;
          width: 70%;
          margin: 0 auto;
        }
      }
  
      .answer-4 {
        grid-area: answ4;
        background: #eee;
        padding: 20px;
        margin: 10px;
        .result-incorrect {
          background: #d46565;
          color: #fff;
          padding: 10px;
          margin: 10px;
          width: 70%;
          margin: 0 auto;
        }
        .result-correct {
          background: #469dcf;
          color: #fff;
          padding: 10px;
          margin: 10px;
          width: 70%;
          margin: 0 auto;
        }
      }
    }
    .zipdev-wrap {
      .questions {
        text-align: center;
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
          "q1"
          "q2"
          "q3"
          "q4"
          "button";
        .q1 {
          grid-area: q1;
          background: #eee;
          padding: 20px;
          padding-top: 0;
          margin: 10px;
          #next1{
            width: 50%;
            text-align: center;
            padding: 10px;
            font-size: 1.1em;
            margin: auto;
            border-radius: 10px;
            border: 3px solid #ddd;
            color: #fff;
            background: #469dcf;
            margin-top: 20px;
          }
        }
        .q2 {
          grid-area: q2;
          background: #eee;
          padding: 20px;
          padding-top: 0;
          margin: 10px;
          display: none;
          #next2{
            width: 50%;
            text-align: center;
            padding: 10px;
            font-size: 1.1em;
            margin: auto;
            border-radius: 10px;
            border: 3px solid #ddd;
            color: #fff;
            background: #469dcf;
            margin-top: 20px;
          }
        }
        .q3 {
          grid-area: q3;
          background: #eee;
          padding: 20px;
          padding-top: 0;
          margin: 10px;
          display: none;
          #next3{
            width: 50%;
            text-align: center;
            padding: 10px;
            font-size: 1.1em;
            margin: auto;
            border-radius: 10px;
            border: 3px solid #ddd;
            color: #fff;
            background: #469dcf;
            margin-top: 20px;
          }
        }
        .q4 {
          grid-area: q4;
          background: #eee;
          padding: 20px;
          padding-top: 10px;
          margin: 10px;
          display: none;
  
        }
        #counter, #counter2 {
          font-size: 1.4em;
          color: #999;
          margin-top: 20px;
        }
        button#check-answers {
          grid-area: button;
          width: 50%;
          text-align: center;
          padding: 10px;
          font-size: 1.1em;
          margin: auto;
          border-radius: 10px;
          border: 3px solid #ddd;
          color: #fff;
          background: #469dcf;
          display: none;
        }
        input[type="text"] {
          width: 80%;
          font-size: 1.1em;
          padding: 10px;
          border-radius: 10px;
          border: solid 1px #999;
        }
      }
      
      .progress-bar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 10px;
        gap: 10px;
        grid-template-areas: "one two three four";
        margin-top: 20px;
        color: #fff;
        .part-1 {
          background: #a3a812;
          padding: 10px;
          span#p1{
            display:block;
          }
        }
        .part-2 {
          background: #a3a812;
          padding: 10px;
          display: none;
          span#p2{
            display:none;
          }
        }
        .part-3 {
          background: #a3a812;
          padding: 10px;
          display: none;
          span#p3{
            display:none;
          }
        }
        .part-4 {
          background: #a3a812;
          padding: 10px;
          display: none;
          span#p4{
            display:none;
          }
        }
      }
      #zipdev-ads {
        display: none;
        .zipdev-restaurant {
          background: #ffffff;
          border: 8px solid #f3f3f3;
          padding: 10px;
          margin-bottom: 20px;
          display: grid;
          grid-template-columns: 1fr 7fr 1fr;
          grid-template-areas:
            "image title rate"
            "image category rate"
            "image hr hr"
            "image details details";
          img {
            grid-area: image;
            margin-right: 10px;
          }
          .zipdev-title {
            grid-area: title;
            font-size: 1.4em;
          }
          .rating-votes-wrap {
            grid-area: rate;
            justify-self: right;
            .rating {
              background: #3c7f04;
              width: fit-content;
              padding: 4px 2px;
              font-size: 1.2em;
              font-weight: bold;
              color: #fff;
              span {
                margin-left: 6px;
                font-size: 0.8em;
                color: #88b865;
              }
            }
            .votes {
              font-size: 0.6em;
              margin-left: 5px;
              margin-top: 5px;
              color: #aaa;
            }
          }
          .category {
            grid-area: category;
            margin-top: 25px;
            font-size: 0.7em;
            color: #aaa;
            margin-bottom: 0px;
          }
          .hr {
            grid-area: hr;
            width: 100%;
            border: 1px solid #ddd;
          }
          .details {
            grid-area: details;
            font-size: 0.7em;
            .open {
              color: green;
            }
            .type {
              color: red;
            }
            .cost {
              color: #aaa;
            }
          }
        }
      }
    }
  }
  